################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArtOnWheels/.vs
/.gitignore
/.vs
/.ArtOnWheels/.vs/ProjectEvaluation/
# Ignore Visual Studio cache and metadata files
.vs/
*.suo
*.v2
*.json
*.bin
