################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArtOnWheels/.vs
/.gitignore
/.vs
/.ArtOnWheels/.vs/ProjectEvaluation/
# Ignore Visual Studio cache and metadata files
.vs/
*.suo
*.v2
*.json
*.bin
# Ignore build output files
bin/
obj/

# Ignore specific file types in Debug folder
*.dll
*.exe
*.pdb
*.cache
*.csproj.CoreCompileInputs.cache
*.AssemblyInfoInputs.cache

# Ignore Visual Studio temporary files
ArtOnWheels/ArtOnWheels/obj/

# Ignore Bootstrap library files
ArtOnWheels/wwwroot/lib/bootstrap/

# Ignore jQuery library files
ArtOnWheels/wwwroot/lib/jquery/

# Ignore jQuery Validation library files
ArtOnWheels/wwwroot/lib/jquery-validation/
ArtOnWheels/wwwroot/lib/jquery-validation-unobtrusive/

