@model ArtOnWheels.Models.ArtworkDto

@{
    ViewData["Title"] = "Delete Artwork";
}

<h2>Delete Artwork</h2>

<div>
    <h3>Are you sure you want to delete @Model.Title artwork?</h3>
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("List", "ArtworkPage")" class="btn btn-secondary">Cancel</a>
    </form>
</div>
